<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

    <!-- CDN do bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body class="container">

    <h2>Sistema de Controle de Produtos</h2>
    Projeto desenvolvido em .NET CORE API com EntityFramework e AngularJS
    <hr />

    <ul>
        <li><a href="/Views/Cadastro.html">Cadastrar Produtos</a></li>
        <li><a href="/Views/Consulta.html">Consultar Produtos</a></li>
    </ul>

</body>
</html>